<!-- <h3>Coding</h3>
<form>
	<label for="title">Title:&nbsp;&nbsp;&nbsp; </label><input name="title" type="text" placeholder="contract title">
	</br></br>
	<label for="type">Type:&nbsp;&nbsp;&nbsp;</label>
	<select name="type">
		<option>Road</option>
		<option>Hospital</option>
	</select>
	</br></br>
	<p>etc...</p>
</form> -->

<!-- <p>bam</p> -->

<input type="text" name="title" placeholder="Contract Title" class="input" value="<%=title%>"></input>
