<td><%=name%></td>
<td><%=eligibleContracts%></td>
<td><%=assignedContracts%></td>

<td>
	<form class="form-inline">
		<input class="assign-form" type="text" placeholder="20" name="contractsToAssign">
		<button class="assign-form btn btn-success assign-button">Assign</button>
	</form>
</td>

<td>
	<button class="coder-delete btn btn-danger">Delete</button>
</td>