<td><%=name%></td>
<td><%=eligibleContracts%></td>
<td><%=assignedContracts%></td>

<td>
	<form class="form-inline">
		<input type="text" placeholder="20" name="contractsToAssign">
		<button class="btn btn-success">Assign</button>
	</form>
</td>
