<!--<h2>Contracts Summary</h2>-->
<table class="table">
	<tr>
		<td><strong>Contracts in the system:</strong></td>
		<td><%=count%></td>
	</tr>
	<tr>
		<td><strong>Singly Assigned:</strong></td>
		<td><%=singleAssigned%></td>
	</tr>
	<tr>
		<td><strong>Doubly Assigned:</strong></td>
		<td><%=doubleAssigned%></td>
	</tr>
	<tr>
		<td><strong>Completed:</strong></td>
		<td><%=completed%></td>
	</tr>
</table>
