<h2>Contracts Summary</h2>
<table class="table">
	<tr>
		<td><strong>Contracts in the system:</strong></td>
		<td><%=count%></td>
	</tr>
	<tr>
		<td><strong>Singly Assigned:</strong></td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Doubly Assigned:</strong></td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Completed:</strong></td>
		<td></td>
	</tr>
</table>
