<div class="container-fluid">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Coding Interface</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a>Coding as <%=coder.name%></a></li>
	        <li><a href="../coding">Change Coder</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>

<div class="container">

	<nav class="row">
		<div class="col-md-12">
			<button id="nav-start" class="btn btn-small">&lt;&lt;</button>
			<button id="nav-backward" class="btn btn-small">&lt;</button>
			<input type="text" class="input input-small">
			<button id="nav-forward" class="btn btn-small">&gt;</button>
			<button id="nav-end" class="btn btn-small">&gt;&gt;</button>
			<span><strong>On contract <%=activeModel%> of <%=totalModels%></strong></span>
		</div>
	</nav>

	<div class="row">
		
		<div class="col-md-6">
			<h2>Original Data</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Attribute</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Title</td>
						<td><%=contract.title%></td>
					</tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>
					<tr><td>Foo</td><td>Bar</td></tr>

				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			<h2>Coding</h2>
		</div>

	</div>
</div>