<table class="table table-striped">
	<thead>
		<tr>
			<th>Coder</th>
			<th>Assigned Contracts</th>
			<th>Completed Contracts</th>
			<th>Do Some Work</th>
		</tr>
	</thead>
	<tbody id="coders">
		<tr>
			<td colspan="4">
				<p>Loading Coders...</p><img src="ajax-loader.gif"/>
			</td>
		</tr>
		<!-- populated by backbone -->
	</tbody>
</table>


